ENABLE_PREVIEWS=YES
IPHONEOS_DEPLOYMENT_TARGET=13.0
SDKROOT=iphoneos
SUPPORTS_MACCATALYST=NO
SWIFT_VERSION=5.6
TARGETED_DEVICE_FAMILY=1

// version
MARKETING_VERSION=1.0
// build
CURRENT_PROJECT_VERSION=1

// Common recommended settings
FRAMEWORK_SEARCH_PATHS=$(inherited)
ALWAYS_SEARCH_USER_PATHS=NO
CLANG_ENABLE_OBJC_WEAK=YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED=YES
