#include "Config.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon

LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/Frameworks

ENABLE_TESTABILITY=YES

SWIFT_ACTIVE_COMPILATION_CONDITIONS=DEBUG PROD $(inherited)

SWIFT_COMPILATION_MODE=singlefile

SWIFT_OPTIMIZATION_LEVEL=-Onone

GCC_OPTIMIZATION_LEVEL=0

GCC_PREPROCESSOR_DEFINITIONS=DEBUG=1 $(inherited)

DEBUG_INFORMATION_FORMAT=dwarf-with-dsym

ONLY_ACTIVE_ARCH=YES

COPY_PHASE_STRIP=NO
